

.component-app {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
}
.box{
  width: 750px;
  height: 100px;
  background: #fff;
}
.small{
  width: 375px;
  height: 100px;
  background: yellow;
}